/* Web Font */

@font-face {
  font-family: 'latoblack';
  src: url('./lato-black-webfont.woff2') format('woff2'),
       url('./lato-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoblack_italic';
  src: url('./lato-blackitalic-webfont.woff2') format('woff2'),
       url('./lato-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latobold';
  src: url('./lato-bold-webfont.woff2') format('woff2'),
       url('./lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latobold_italic';
  src: url('./lato-bolditalic-webfont.woff2') format('woff2'),
       url('./lato-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoitalic';
  src: url('./lato-italic-webfont.woff2') format('woff2'),
       url('./lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latolight';
  src: url('./lato-light-webfont.woff2') format('woff2'),
       url('./lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latolight_italic';
  src: url('./lato-lightitalic-webfont.woff2') format('woff2'),
       url('./lato-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoregular';
  src: url('./lato-regular-webfont.woff2') format('woff2'),
       url('./lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latohairline';
  src: url('./lato-thin-webfont.woff2') format('woff2'),
       url('./lato-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latohairline_italic';
  src: url('./lato-thinitalic-webfont.woff2') format('woff2'),
       url('./lato-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playwrite';
  src: url('./playwritepe-variablefont_wght-webfont.woff2') format('woff2'),
       url('./playwritepe-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Basic Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'latoregular', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
select,
button {
  appearance: none;
  border: none;
}

.header {
  padding: .2rem .5rem;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: 'playwrite';
}

.row {
  display: flex;
}

.header__buttons {
  justify-content: center;
  gap: 2rem;
}

#home-btn,
#menu-btn,
#about-btn {
  font-family: 'playwrite';
  font-weight: 600;
  padding: .5rem .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background: none;
}

.header__buttons button:hover {
  cursor: pointer;
  text-shadow: 1px 1px 5px grey;
}